.update-style {
  margin-top: 3%;
  width: 100%;
  &__titleBox {
    display: flex;
    align-items: center;
    margin: 1% 0;
    border: solid 1px #cccccc;
    background-color: white;
    height: 3rem;
    border-color: blue;
    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cccccc;
      height: 3rem;
      width: 3rem;
    }
    .title {
      margin-left: 5%;
      height: 2.8rem;
      border: solid 0;
      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }
  &__contentBox {
    .ql-container {
      background-color: white;
      .ql-editor {
        border: solid 1px blue;
        overflow-y: auto;
        min-height: 40vh;
        max-height: 80vh;
      }
    }
  }

  &__btnBox {
    display: flex;
    margin-top: 1%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

    .goBackBtn {
    }
    .submitBtn {
      margin-left: 1%;
    }
  }
}
