.post-style {
  width: 100%;
  font-size: 1.2rem;
  &__titleBox {
    display: flex;
    align-items: center;
    margin: 1% 0;
    border: solid 1px #cccccc;
    background-color: white;
    height: 3rem;
    .number {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cccccc;
      height: 3rem;
      width: 3rem;
    }
    .title {
      margin-left: 5%;
    }
    .username {
      float: right;
      text-align: right;
    }
  }

  &__htmlBox {
    overflow-y: auto;
    min-height: 40vh;
    max-height: 80vh;
    border-inline: solid 1px #cccccc;
    border: solid 1px #cccccc;
    background-color: white;
    text-align: initial;
    > p {
      padding: 1rem;
    }
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__btnBox {
    display: flex;
    margin-top: 1%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

    .updateBtn {
    }
    .deleteBtn {
      margin-left: 1%;
    }
    .goBackBtn {
      margin-left: 1%;
    }
  }
}
