@import 'src/styles/_theme.scss';
.alertModal-style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  &__modalBox {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    .closeButton {
      padding: 10px;
      float: right;
      color: #fdfdfd;
      font-size: 2.3rem;
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }
    &__propsBox {
      .title {
        background-color: $color-blue;
        padding: 10px;
        color: #fdfdfd;
      }
      .content {
        padding: 10px;
      }
    }
    &__buttonBox {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 10px;
      button {
        padding: 10px;
        &:hover {
          background-color: rgba(1, 1, 1, 0.8);
          color: white;
        }
      }
    }
  }
}
